[submodule "themes/erblog"]
	path = themes/erblog
	url = https://github.com/ertuil/erblog
[submodule "themes/noteworthy"]
	path = themes/noteworthy
	url = https://github.com/kimcc/hugo-theme-noteworthy.git
